body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
    color: #475733;
    
}

header {
    background-color: #475733;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: nowrap;
    position: sticky;
    top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 2;
}

span {
    display: flex;
    align-items: center;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.menu-section {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 350px;
    grid-gap: 40px;
    padding: 100px;
}

.menu-item {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    height: 350px;
    padding: 20px;
}
.menu-item .img-container {
    background-image: url(humbug.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85%;
    text-align: center;
}

.menu-item-linkbar {
    display: block;
    background-color: #faf9f6;
    margin-top: auto;
    height: 15%;
    text-align: right;
    padding-top: 15px;
}

.menu-item h3 {
    color: black;
    margin-top: 0;
}

footer {
    background-color: #475733;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#contact .map-container {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    #contact div {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 5px 0;
        color: #f5f5f5
    }
}

.menu-item-linkbar a {
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    
}

.introimg {
    position: absolute;   
    top: 0;               
    left: 0;   
    display: block;
    width: 100vw;
    margin: 0;
    z-index: -1;
    height: 100vh;
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#titlepage {
    display: flex;
    margin: 0;
    padding-bottom: 101vh;
    height: 100vh;
    width: 100vw;
}

hr {
    height: 15px;
    background-color: #475733;
}

.menu-item:nth-child(1) .img-container{
    background-image: url(websiteassets/breakfast.jpg);
}

.menu-item:nth-child(2) .img-container{
    background-image: url(websiteassets/lunch.jpg);
}

.menu-item:nth-child(3) .img-container{
    background-image: url(websiteassets/dinner.jpg);
}

.menu-item:nth-child(4) .img-container{
    background-image: url(websiteassets/drinks.jpg);
}

.home{
    display: inline-grid;
}

.styled {
    border:0;
    width: 85%;
    margin:25px;
    position: relative;
    bottom: -105px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    align-self: center;
}


.styled:hover {
    background-color:#475733;
    border:4px solid #f5f5f5;
    border-width: 4px;
    color:#f5f5f5;
}


.styled2 {
    border:0;
    width: 85%;
    margin:25px;
    position: relative;
    height: 50px;
    font-size: 1.25rem;
    text-align: center;
    align-self: center;
    bottom: -43px;
}


.styled2:hover {
        background-color:#475733;
        border:4px solid #f5f5f5;
        border-width: 4px;
        color:#f5f5f5;


}


.styled3 {
    font-size: 1rem;
    background-color: #475733;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    align-self: center;
}


.styled3:hover {
    background-color: #f5f5f5;
    color: black;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: table;
    vertical-align: middle;
    text-align: center
   
}


.textmod {
    margin-bottom: 50px;
    font-size: x-large;
     text-wrap: pretty;
     font-weight: bold;
     text-align: left;
}

.textmod2 {
    margin-bottom: 50px;
    font-size: x-large;
    text-wrap: pretty;
    font-weight: bold;
    text-align: left;
    margin-left: 450px;
}

html {
font-size: 62.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hamburger {
display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #101010;
}

.nav-item {
    margin-left: 30px;  /* Remove any default margin to prevent squishing */
    padding: 0;  /* Remove any padding that might add extra space */
    flex-grow: 1;  /* Allow each item to take up equal space */
    text-align: center;  /* Center the text in each nav item */
}

.nav-link{
font-weight: 400;
color: #f5f5f5;
display: block;  /* Ensure the link is a block element to take full width of nav item */
padding: 15px;
}

.nav-menu{
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: center;
width: 100%;
padding: 0 2rem;
align-items: center;
}

nav {
   padding: 15px;
   text-align: center;
}


nav a:hover {
   background-color: #607744;
   border-radius: 5px;
}

@media only screen and (max-width: 768px) {
.nav-menu {
position: fixed;
left: -100%;
top: 5rem;
flex-direction: row;
background-color: #fff;
width: 100%;
border-radius: 10px;
text-align: center;
transition: 0.3s;
box-shadow:
0 10px 27px rgba(0, 0, 0, 0.05);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hamburger {
    display: block;
    cursor: pointer;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.nav-link{
font-weight: 400;
color: #475733;
display: block;  /* Ensure the link is a block element to take full width of nav item */
padding: 15px;
}

.nav-link:hover{
background-color: #f5f5f5;
}

.styled3 {
background-color: #ffffff;
color: #475733;
}

nav a:hover {
background-color: #f5f5f5
}
}


    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .item {
        display: flex;
        flex-direction: row; 
        width: 100%;
        box-sizing: border-box; 
        margin-bottom: 50px;
    }

    .image {
        width: 60%;
        height: 450px;
    }

    .details {
        width: 40%;
        background-color: #475733;
        height: 450px; 
        text-align: left;
        padding: 20px;
        box-sizing: border-box;
    }

    .details h2 {
        padding-top: 20px;
    }

    .details p {
        max-width: 350px;
        font-size: 18px;
    }

    @media (max-width: 768px) {

        .item {
            flex: 1 1 100%; 
            flex-direction: column; 
            min-height: auto; 
        }

        .image {
            width: 100%; 
            height: auto; 
        }

        .details {
            width: 100%;
            min-height: auto; 
            padding: 20px 25px; 
        }
    }



